.nav-left{
	position: absolute;
	margin-top: -10px;
	margin-left: 10px;
}

.nav-right{
	position: absolute;
	margin-top: 20px;
}

.nav-right a{
	margin-left: 1100px;
	margin-top:100;
	text-decoration: none;
}

.nav-left a{
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
}

.hello-user {
	margin-top: 80px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.hello-user p {
	margin-bottom : -10px;
}


.header {
	width: 100%;
	height: 70px;
	background-color: salmon;
	padding-top: 5px;
	position:relative;
}

.post-entry {
	margin-bottom: -70px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 0px 20px;
	box-sizing: border-box;
}

.post-edit {
	margin-left: 60px;
}

.post-delete {
	margin-left: 60px;
}

.login-page {
	margin-left: 450px;
	margin-top: 100px;
}

.post-container {
	margin-top: 100px;
}

.signup {
	margin-top: 80px;
	margin-left: 20px;
}